.wrapper{
    padding: 10px;
    position: relative;
    .content{
        border-radius: 10px;
        background-color: #fff;
        padding: 10px;
    }
    .note-responsive{
        color: #fff;
        cursor: pointer;
        position: absolute;
        top: 3px;
        transition: all 0.3s linear;
        left: 50%;
        transform: translateX(-50%);
        background-color: greenyellow;
        padding: 5px 10px;
        border-radius: 10px;
        &:hover{
            background-color: rgb(126, 201, 13);
            top: -3px;
        }
    }
}