$mobile-width: 480px; 
$tablet-width: 768px; 
$desktop-width: 1024px;  
@mixin mobile { 
    @media (max-width: #{$mobile-width - 1px}) {     
      @content;   
   } 
} 
@mixin tablet { 
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) 
    {       
        @content;   
    } 
} 
.wrapper{
    @include tablet{
        width: 80%;
    }
    @include mobile(){
        width: 80%;
    }
    width: 30%;
    box-shadow:  5px 5px 10px #d3d8d3,
             -5px -5px 10px #e9eee9;
    border-radius: 10px;
    padding: 30px 10px 10px 10px;
    position: relative;
    .list{
        display: flex;
        flex-direction: column;
        gap: 1em;
        overflow-y: auto;
        height: 500px;
        @include tablet{
            flex-wrap: wrap;
            height: 300px;
            justify-content: center;
        }
        @include mobile(){
            height: 300px;
        }
        .seacrh{
            position: absolute;
            top: -10px;

        }
    }
}