.text__lydo{
    position: relative;
    display: inline-block;
    &:hover .btn__xoa-lydo{
        opacity: 1;
        right: -40px;
    }
    .btn__xoa-lydo{
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0;
        padding: 10px;
        background-color: red;
        color: aliceblue;
        border-radius: 50%;
        transition: all 0.3s linear;

        &:hover {
            background-color: rgba(255, 0, 0, 0.727);
        }
    }
    
}